/***** BASE STYLES *****/

body {
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	background: url('../img/format-arw-portrait.jpg');
	background-size: cover;
    background-position: center;
}
/***** GRID *****/

.full-width {
	width: 1200px;
	margin: 0 auto;
	overflow: auto;
}
.half-width {
	width: 600px;
	float: left;
}


/***** HEADER *****/

header h1 { 
    padding: 65px 0 65px 25px;
    font-family: 'Lora', serif;
    font-size: 30px;
    color: red; 
    background: url(../img/photoholgic-black-spider.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: none;
    width: 200px;
    border-radius: 25px;
}

nav {
    float: right; 
    padding: 75px 25px;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: red; 
    padding-left: 80px; 
}

header h2 {
    width: left; 
    clear: left;
    font-family: 'Lora', serif; 
    font-size: 72px;
    line-height: 80px;
    color: white;
    padding: 20px 0 20px 25px;
}
header h2 span {
    color: red;
}

/***** ABOUT *****/

#about .full-width {
	padding: 0;
}
#about h2 {
    font-family: 'Lora', serif; 
    font-size: 36px;
    padding-left: 50px;
	color: red;
}
 
#about p {
    font-size: 21px;
    color: #737373;
    line-height: 40px;
    padding-left: 50px;
    padding-right: 50px;
}
/***** WORK *****/

#work {
	
	text-align: center;
	list-style: 30px;
	font-size: 21px;
	
}

.skills {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-flow: row wrap;
    text-transform: uppercase;
}

.skills p  {

    background-color: black;
    padding: 15px 0;
    margin: 20px 0;
    width: 100%;
}

#work h3 {
    margin: 0 auto;
	color: white;
	font-family: 'Lora', serif;
    font-size: 36px;
	padding: 40px;
}
 


/*****CONTACT*****/

footer a {
    color: red;

}

#contact .full-width {
    padding: 110px 0;

}

#contact h2, #contact #email-header, #contact, #contact ul 
{
    padding-left: 50px;
}

#contact h2 {
    font-family: 'Lora', serif; 
    font-size: 36px;
    line-height: 44px;
}

#contact p {
	width: 100%;
    margin: 0;
    justify-content: center;
    display: flex;
}